Repository vivax3794/arcade-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, pyright, pytest, setup.py

black:
  name: black
  description: Run black
  entry: poetry run black
  language: system
  require_serial: true

isort:
  name: isort
  description: Run isort
  entry: poetry run isort
  language: system
  require_serial: true

flake8:
  name: flake8
  description: Run flake8
  entry: poetry run flake8
  language: system
  require_serial: true

pyright:
  name: pyright
  description: Run pyright
  entry: poetry run pyright
  language: system
  require_serial: true

pytest:
  name: pytest
  description: Run pytest
  entry: poetry run pytest tests
  language: system
  require_serial: true

setup.py:
  name: setup.py
  description: Create setup.py
  entry: bash -c "poetry run poetry2setup > setup.py"
  language: system
  require_serial: true
  pass_filenames: false

support 3.8
  pyproject.toml
  setup.py
Due: setup.py

added more options, like img, and better math support
  arcade_cli/cli.py
  arcade_cli/draw.py
  matisse.jpeg
  matisse.jpeg:Zone.Identifier
  oik.jpg
  oik.jpg:Zone.Identifier
  poetry.lock
  pyproject.toml
  setup.py
Due: black, isort, flake8, pyright, pytest, setup.py

fixed bugs
  arcade_cli/cli.py
  arcade_cli/draw.py
  tmp.png
Due: black, isort, flake8, pyright, pytest

some update
  arcade_cli/draw.py
  tmp
Due: black, isort, flake8, pyright, pytest

updates
  arcade_cli/cli.py
  arcade_cli/draw.py
  pyproject.toml
  setup.py
  vivax@109.247.189.161
Due: black, isort, flake8, pyright, pytest, setup.py

text!
  .gitignore
  .pre-commit-config.yaml
  arcade_cli/cli.py
  arcade_cli/draw.py
  matisse.jpeg
  matisse.jpeg:Zone.Identifier
  oik.jpg
  oik.jpg:Zone.Identifier
  poetry.lock
  pyproject.toml
  setup.py
  tmp
  tmp.png
  vivax@109.247.189.161
Due: black, isort, flake8, pyright, pytest, setup.py

switch to pdm, and setup tests/nox
  .coverage
  .gitignore
  .pdm.toml
  .pre-commit-config.yaml
  .python-version
  arcade_cli/arcade.py
  arcade_cli/draw.py
  noxfile.py
  pdm.lock
  pyproject.toml
  setup.py
  tests/custom_strats.py
  tests/test_arcade.py
  tests/test_cli.py
  tests/test_draw.py
  tests/test_nothing.py
Due: black, isort, flake8, pyright, pytest, setup.py

added svg rendering
  .coverage
  .python-version
  .vscode/settings.json
  arcade_cli/cli.py
  arcade_cli/draw.py
  tests/custom_strats.py
  tests/test_draw.py
  twitch.svg
  twitch.svg:Zone.Identifier
Due: black, isort, flake8, pyright, pytest

new version
  pyproject.toml
Due: setup.py

refactor modify into a command group
  arcade_cli/cli.py
  pyproject.toml
Due: black, isort, flake8, pyright, pytest, setup.py

update pypi data
  .gitignore
  arcade_cli/draw.py
  pyproject.toml
  readme.md
  twitch.svg
  twitch.svg:Zone.Identifier
Due: black, isort, flake8, pyright, pytest, setup.py

new stuff
  arcade_cli/arcade.py
  arcade_cli/cli.py
  readme.md
  tmp.py
Due: black, isort, flake8, pyright, pytest

bump version
  pyproject.toml
Due: setup.py

Path conditions:
  black: any of: \.py$, but not: setup.py
  isort: any of: \.py$, but not: setup.py
  flake8: any of: \.py$, but not: setup.py
  pyright: any of: \.py$, but not: setup.py
  pytest: any of: \.py$, but not: setup.py
  setup.py: any of: pyproject.toml, but not: setup.py
